@import '@/assets/css/colors.scss';

.Header {
    position: sticky;
    height: 50px;
    background-color: #000;
    top: 0px;
    z-index: 100;
}

.Header .content {
    position: inherit;
    margin: auto !important;
    height: 40px;
    padding: 5px 0px 5px 0px !important;
}

.Header .search-mobile {
    position: inherit;
    background-color: #000000;
    padding: 10px;
}