$primary: #eec52f;
$primaryLight: #FFE077;
$primaryDark: #F9C000;
$primaryVeryDark: #715700;

$secondary: #cacaca;
$secondaryLight: #FFE077;
$secondaryDark: #F9C000;
$secondaryVeryDark: #715700;

$success: #5DB580;
$successLight: #7CCF9D;
$successDark: #3D9962;
$successVeryDark: #1f5e38;

$warning: #FCA370;
$warningLight: #FFB58C;
$warningDark: #F08A51;
$warningVeryDark: #a85d31;

$danger: #FF8989;
$dangerLight: #FFA6A6;
$dangerDark: #F26B6B;
$dangerVeryDark: #bb4545;

$info: #70A8FC;
$infoLight: #8CBAFF;
$infoDark: #5191F0;
$infoVeryDark: #2d5897;

$light: #fff;
$lightSoft: #D9D4D4;
$dark: #272C33;


$bodyBackground: #CDD6E3;
$bodyContext: #F5F5F5;
$borderContext: #9DB0CA;


$buttonContext: #CDD6E3;
$buttonBar: #B2C3DB;

$menuBtnContext: #E1E6EE;


.txt-light { color: $light; }
.txt-dark { color: $dark; }