.m0 { margin:0px !important; }
.m1 { margin:1px !important; }
.m2 { margin:2px !important; }
.m3 { margin:3px !important; }
.m4 { margin:4px !important; }
.m5 { margin:5px !important; }
.m6 { margin:6px !important; }
.m7 { margin:7px !important; }
.m8 { margin:8px !important; }
.m9 { margin:9px !important; }
.m10 { margin:10px !important; }
.m15 { margin:15px !important; }
.m20 { margin:20px !important; }
.m25 { margin:25px !important; }
.m30 { margin:30px !important; }

.mm0 { margin:0px !important; }
.mm1 { margin:-1px !important; }
.mm2 { margin:-2px !important; }
.mm3 { margin:-3px !important; }
.mm4 { margin:-4px !important; }
.mm5 { margin:-5px !important; }
.mm6 { margin:-6px !important; }
.mm7 { margin:-7px !important; }
.mm8 { margin:-8px !important; }
.mm9 { margin:-9px !important; }
.mm10 { margin:-10px !important; }
.mm15 { margin:-15px !important; }
.mm20 { margin:-20px !important; }
.mm25 { margin:-25px !important; }
.mm30 { margin:-30px !important; }



.p0 { padding:0px !important; }
.p1 { padding:1px !important; }
.p2 { padding:2px !important; }
.p3 { padding:3px !important; }
.p4 { padding:4px !important; }
.p5 { padding:5px !important; }
.p6 { padding:6px !important; }
.p7 { padding:7px !important; }
.p8 { padding:8px !important; }
.p9 { padding:9px !important; }
.p10 { padding:10px !important; }
.p15 { padding:15px !important; }
.p20 { padding:20px !important; }
.p25 { padding:25px !important; }
.p30 { padding:30px !important; }

.pm0 { padding:0px !important; }
.pm1 { padding:-1px !important; }
.pm2 { padding:-2px !important; }
.pm3 { padding:-3px !important; }
.pm4 { padding:-4px !important; }
.pm5 { padding:-5px !important; }
.pm6 { padding:-6px !important; }
.pm7 { padding:-7px !important; }
.pm8 { padding:-8px !important; }
.pm9 { padding:-9px !important; }
.pm10 { padding:-10px !important; }
.pm15 { padding:-15px !important; }
.pm20 { padding:-20px !important; }
.pm25 { padding:-25px !important; }
.pm30 { padding:-30px !important; }

